@import "normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100%
}

body {
  margin: 0;
  font: 300 16px/1.5 Helvetica, 'Helvetica Neue', Arial, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
